name: Deploy to My Dokku

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add Remote and Deploy
        run: |
          # Aggiunge l'IP del tuo server ai conosciuti
          mkdir -p ~/.ssh
          ssh-keyscan ${{ secrets.BEAMUP_HOST }} >> ~/.ssh/known_hosts
          
          # Aggiunge il remote (Semplice: dokku@IP:NOME_PROGETTO)
          git remote add dokku dokku@${{ secrets.BEAMUP_HOST }}:${{ secrets.PROJECT_NAME }}
          
          # Creazione file .env per inviare le variabili
          echo "DB_HOST=${{ secrets.ENV_DB_HOST }}" >> .env
          echo "DB_PORT=${{ secrets.ENV_DB_PORT }}" >> .env
          echo "DB_NAME=${{ secrets.ENV_DB_NAME }}" >> .env
          echo "DB_USER=${{ secrets.ENV_DB_USER }}" >> .env
          echo "DB_PASSWORD=${{ secrets.ENV_DB_PASSWORD }}" >> .env
          echo "NODE_ENV=production" >> .env
          
          # Setup git
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          
          # Commit del .env e Push
          git add .env -f
          git commit -m "Deploy config"
          git push dokku HEAD:master --force
